/* Variables */
:root {
    --dark-blue: #010326;
    --accent: #5abfad;
    --white: #fff;
    --black: #000;
    --blue: #161459;
    --light-blue: #3c74a6;
    --header-height: 79.3px;
  }
  
  /* General */
  html {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: 'Barlow', sans-serif;
    position: relative;
    z-index: 2;
  }
  
  b,
  strong {
    font-weight: bold;
  }
  
  em {
    font-style: italic;
  }
  
  button,
  [type='button'] {
    -webkit-appearance: none;
    border: none;
  }
  
  ul {
    padding-inline-start: 0;
  }
  
  .container {
    max-width: 1200px;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Jost', sans-serif;
  }
  
  .full-width {
    width: 100%;
  }
  
  .background-dark-blue {
    background-color: var(--dark-blue);
  }
  
  .main-title {
    font-size: 3rem;
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  
  .main-title.no-width {
    font-size: 2.5rem;
  }
  
  .mobile-small {
    font-size: 2.2rem;
  }
  
  .subtitle {
    font-family: 'Barlow', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--light-blue);
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    display: inline-flex;
  }
  
  .subtitle.small {
    font-size: 1.8rem;
  }
  
  .subtitle.x-small {
    font-size: 1.8rem;
  }
  
  .img-bck .subtitle {
    color: var(--white);
  }
  
  .white,
  .white a {
    color: var(--white);
  }
  
  .white a {
    font-weight: 600;
  }
  
  .accent {
    color: var(--accent);
  }
  
  .dark-blue {
    color: var(--dark-blue);
  }
  
  .blue {
    color: var(--blue);
  }
  
  a {
    text-decoration: none;
  }
  
  .alastria-button {
    text-transform: uppercase;
    background-color: var(--accent);
    color: var(--dark-blue);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s;
    border: none;
    z-index: 2;
    display: inline-block;
    min-width: 130px;
    transition: all 0.3s;
    text-align: center;
  }
  
  .alastria-button:hover {
    background-color: #8cc9be;
    color: var(--dark-blue);
  }
  
  .alastria-button[aria-expanded='true'] {
    background-color: var(--light-blue);
    color: var(--white);
  }
  /* Header */
  
  .alastria-header .navbar {
    background-color: var(--dark-blue) !important;
    padding: 6px;
    position: relative;
  }
  
  .alastria-header .nav-link {
    color: var(--white);
    transition: all 0.3s;
    text-transform: uppercase;
  }
  
  .alastria-header .current-menu-item .nav-link {
    color: var(--accent);
  }
  
  .menu-item-129-en .nav-link {
    padding-left: 0 !important;
  }
  
  .alastria-header .nav-link:hover,
  .alastria-header .nav-link.active {
    color: var(--accent);
  }
  
  .navbar-brand img {
    width: 200px;
  }
  
  .alastria-header .btn,
  .alastria-header .btn:hover {
    color: var(--accent);
    border-color: var(--accent);
  }
  
  .alastria-header .dropdown-item:hover {
    color: var(--accent);
  }
  
  .alastria-header .social-network a {
    font-size: 2rem;
    margin-right: 15px;
  }
  
  .alastria-header .social-network {
    position: relative;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .search-input {
    display: flex;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .search-container {
    position: relative;
  }
  
  .search-button {
    display: none;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: calc(100vh - var(--header-height));
    background-color: var(--dark-blue);
    transition: 0.5s;
    z-index: 100;
    margin-top: var(--header-height);
    transform: translateX(100%);
  }
  
  .sidebar.with-search-bar {
    height: calc(100vh - (var(--header-height) + 54px));
    margin-top: calc(var(--header-height) + 54px);
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  #sidebar-toggle {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
  
  /* Sections */
  section {
    position: relative;
  }
  
  .home-section,
  .page-section,
  .page-title {
    padding: 2.5rem 1rem;
  }
  
  .img-bck {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    position: relative;
  }
  
  .img-bck.small-section {
    min-height: 30vh;
    background-image: url('./images/16.png');
  }
  
  .img-bck:before {
    content: '';
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    position: absolute;
  }
  
  .container {
    position: relative;
    z-index: 2;
  }
  
  .quotation {
    z-index: 2;
    position: relative;
  }
  
  .alastriaVideo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    width: 100vw;
  }
  .content-center {
    display: flex;
    align-items: center;
  }
  
  .alastria-work {
    padding: 2rem 0;
  }
  
  .alastria:before,
  .home:before {
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1;
  }
  
  .alastria-work:before {
    z-index: 1;
  }
  
  .vertical-card {
    background-size: cover;
    background-position: 0;
    position: relative;
    background-attachment: fixed;
    padding: 50px 0;
    overflow: hidden;
  }
  
  #alastria-1,
  #partners-3 {
    background-color: var(--accent);
  }
  
  #alastria-4,
  #partners-4 {
    background-color: var(--dark-blue);
  }
  
  #alastria-2 {
    background-color: var(--white);
  }
  
  #alastria-2 .paragraph,
  #alastria-2 .title {
    color: var(--black);
  }
  
  #alastria-3,
  #partners-2 {
    background-color: var(--light-blue);
  }
  
  #partners-1 {
    background-color: var(--blue);
  }
  
  .horizontal-container {
    cursor: pointer;
  }
  
  .horizontal-card .title,
  .one-horizontal-card .title {
    margin-bottom: 5px;
    position: relative;
  }
  
  .horizontal-card .alastria-list li:before,
  .one-horizontal-card .alastria-list li:before,
  .one-horizontal-card .alastria-list,
  .one-horizontal-card .paragraph,
  .one-horizontal-card .title {
    color: var(--white);
  }
  
  .horizontal-card {
    padding: 25px 15px;
  }
  
  .text-container {
    padding: 20px 25px;
    position: relative;
  }
  
  .text-container h4 {
    color: var(--accent);
  }
  
  .alastria-section .title {
    font-size: 1.3rem;
  }
  
  .what-we-do {
    overflow: hidden;
    padding-top: 20px;
  }
  
  .what-we-do .main-title {
    color: var(--dark-blue);
  }
  
  .what-we-do:before {
    background-color: transparent;
  }
  
  .title-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    position: absolute;
    width: 100%;
    top: 0;
  }
  
  .what-we-do a:hover .title-container {
    transform: translateY(0);
  }
  
  .what-we-do a {
    font-size: 2rem;
    color: var(--white);
    font-weight: 500;
  }
  
  .what-we-do a:hover i {
    transform: scale(1.5);
  }
  
  .use-cases,
  .partners {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .insights i {
    font-size: 2.2rem;
    color: var(--white);
    transition: all 0.3s;
    position: absolute;
    top: 16px;
    left: 20px;
  }
  
  .insights h3 {
    font-size: 1.5rem;
  }
  
  /* footer */
  
  .footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 4rem 3rem;
    position: relative;
  }
  
  .footer img {
    width: 200px;
  }
  
  .footer ul {
    list-style: none;
    margin-bottom: 15px;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: var(--white);
    transition: all 0.3s;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
  }
  
  .footer li a {
    padding: 8px 0 8px 10px;
  }
  
  .footer ul .highlight {
    color: var(--accent);
    font-weight: 700;
  }
  
  .footer a:hover {
    color: var(--accent);
  }
  
  .footer .social-network {
    margin-top: 15px;
  }
  
  .social-network {
    display: flex;
    justify-content: center;
  }
  
  .social-network a {
    font-size: 1.5rem;
  }
  
  .title {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .alastria-section p,
  .alastria-section ul {
    color: var(--white);
  }
  
  .alastria-accordion {
    margin-top: 30px;
  }
  
  .alastria-accordion .accordion-button {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .alastria-accordion .accordion-button i {
    font-size: 1.5rem;
    margin-right: 10px;
  }
  
  .alastria-accordion .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
  
  .alastria-collapse #collapse2 p {
    margin-bottom: 20px;
  }
  
  .alastria-collapse .button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-family: 'Barlow', sans-serif;
    border-radius: 5px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .alastria-collapse i {
    font-size: 1.3rem;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .alastria-collapse .button,
  .alastria-collapse .button:hover {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    z-index: 2;
  }
  
  .big-text {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  
  .alastria-accordion h4,
  .alastria-collapse h4 {
    font-size: 1.1rem;
    color: var(--accent);
    margin: 0 0 10px;
    font-weight: 600;
  }
  
  .alastria-list li,
  .cookies li,
  .single-post .post-content li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    padding-left: 20px;
  }
  
  .alastria-list li:before,
  .cookies li:before,
  .single-post .post-content li:before {
    content: 'â—‰';
    position: absolute;
    color: var(--accent);
    left: -5px;
  }
  
  .left-list {
    display: inline-block;
    text-align: left;
  }
  
  /* ORG CHART */
  .directive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'director director'
      'area-1 area-2'
      'area-3 area-4'
      'area-5 area-6'
      'area-7 area-8'
      'area-9 area-10'
      'area-11 area-12'
      'area-13 area-14'
      'area-15 area-16';
  }
  
  .director {
    grid-area: director;
  }
  
  .area-1 {
    grid-area: area-1;
  }
  
  .area-2 {
    grid-area: area-2;
  }
  
  .area-3 {
    grid-area: area-3;
  }
  
  .area-4 {
    grid-area: area-4;
  }
  
  .area-5 {
    grid-area: area-5;
  }
  
  .area-6 {
    grid-area: area-6;
  }
  
  .area-7 {
    grid-area: area-7;
  }
  
  .area-8 {
    grid-area: area-8;
  }
  
  .area-9 {
    grid-area: area-9;
  }
  
  .area-10 {
    grid-area: area-10;
  }
  
  .area-11 {
    grid-area: area-11;
  }
  
  .area-12 {
    grid-area: area-12;
  }
  
  .area-13 {
    grid-area: area-13;
  }
  
  .area-14 {
    grid-area: area-14;
  }
  
  .area-15 {
    grid-area: area-15;
  }
  
  .area-16 {
    grid-area: area-16;
  }
  
  .org-container .name {
    font-size: 0.82rem;
    margin-top: 10px;
    color: var(--white);
    line-height: 1.2rem;
  }
  
  .team .name {
    color: var(--dark-blue);
  }
  
  .org-container .position {
    font-size: 0.9rem;
    font-weight: 800;
    line-height: 1;
    color: var(--light-blue);
  }
  
  .org-container .name span {
    position: relative;
    margin-left: 7px;
  }
  
  .image-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: auto;
  }
  
  .team .image-container {
    height: 300px;
    width: 300px;
  }
  
  .leaders .image-container {
    height: 100px;
    width: 100px;
    margin: initial;
  }
  
  .image-container img,
  .partners-section .card .card-image {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .partners-section .card .card-image {
    height: initial;
    object-fit: contain;
  }
  
  .partners-section .card a {
    color: var(--accent);
  }
  
  .org-container .name span:before {
    content: '\f068';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    color: var(--accent);
    font-size: 1.2rem;
    font-weight: 900;
    transform: rotate(-90deg);
    left: -10px;
  }
  
  .org h3 {
    font-size: 1.3rem;
    color: var(--accent);
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .org > div {
    margin-bottom: 20px;
  }
  
  .management {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'director director'
      'area-1 area-2'
      'area-3 area-4'
      'area-5 area-6';
  }
  
  .participate {
    height: 530px;
  }
  
  .participate p,
  .areas p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 15px;
  }
  
  .areas .card {
    margin-bottom: 10px;
  }
  
  .areas .card-title {
    min-height: 41px;
  }
  
  .participate .card-text {
    display: flex;
    align-items: center;
  }
  
  .participate .card-title {
    min-height: 43.2px;
  }
  
  .about-us .card-title {
    min-height: initial;
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .leaders .col,
  .leaders .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .leaders a {
    color: var(--white);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }
  
  .leaders p {
    margin-left: 10px;
  }
  
  .participate .card-footer .col-12 {
    justify-content: center;
  }
  .participate .card-title,
  .areas .card-title {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .participate .swiper-pagination,
  .about-us .swiper-pagination {
    bottom: 0;
  }
  
  .about-us {
    height: 780px;
  }
  
  .participate .card-footer .row {
    min-height: 63px;
  }
  
  .participate .card-footer .col-6,
  .participate .card-footer .col-12 {
    display: flex;
    align-items: center;
  }
  
  .participate .card-footer .col-12 {
    justify-content: center;
  }
  
  .participate .card-footer .col-6 + .col-12 {
    margin-top: 10px;
  }
  
  .participate .card-footer a {
    margin-left: 2px;
  }
  
  .about-us .card-body {
    padding: 30px;
  }
  
  .about-us h4 {
    color: var(--accent);
  }
  
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .participate .swiper-button-next,
  .participate .swiper-button-prev,
  .about-us .swiper-button-next,
  .about-us .swiper-button-prev {
    color: var(--white);
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1.5rem;
  }
  
  .swiper-button-next {
    right: 0;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  .swiper-pagination-bullet {
    background-color: var(--white);
  }
  
  /* Use cases */
  
  .use-case-container {
    position: relative;
  }
  
  .use-case-container:hover .use-cases-title {
    opacity: 1;
    color: var(--white);
  }
  
  .use-case-container img,
  .networks-section img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .use-cases-title {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    transition: 0.3s;
    opacity: 0;
  }
  
  .use-case-container:nth-child(odd) .use-cases-title {
    background-color: var(--accent);
  }
  
  .use-case-container:nth-child(even) .use-cases-title {
    background-color: var(--light-blue);
  }
  
  .use-cases-section .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  
  .post-card .img-container {
    height: 185px;
    overflow: hidden;
  }
  
  .use-cases-section .partners-filters label {
    color: var(--white);
  }
  
  /* Socios */
  .partners-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .partners-filters .dropdown {
    margin-left: 10px;
  }
  
  .results .card-text {
    font-size: 0.9rem;
    color: var(--dark-blue);
    line-height: 1.2rem;
  }
  
  .results .card-title {
    color: var(--accent);
    font-weight: 700;
  }
  
  /* Insights */
  .insights-section .subtitle {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  
  .insights-section .subtitle:before,
  .insights-section .subtitle:after {
    display: none;
  }
  
  .insights-carousel {
    margin-bottom: 30px;
    height: 490px;
  }
  
  .insights-carousel .swiper-pagination-bullet {
    background-color: var(--accent);
    opacity: 0.5;
  }
  
  .insights-carousel .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  .post-card {
    position: relative;
  }
  
  .post-card .card-text,
  .post-card p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
    color: var(--black);
  }
  
  .post-card .card-title {
    font-weight: 700;
  }
  
  .post-card .card-img-top {
    max-height: 230px;
  }
  
  .insights-carousel .swiper-button-prev,
  .insights-carousel .swiper-button-next {
    color: var(--dark-blue);
  }
  
  /* Post Home */
  .post-section .card {
    margin-bottom: 20px;
  }
  
  .paginator {
    display: flex;
    justify-content: center;
  }
  
  .insights-section .tab-content {
    margin-top: 20px;
  }
  
  .insights-section .nav-tabs {
    justify-content: flex-start;
    border: none;
  }
  
  .insights-section .nav-link {
    border: none;
    padding: 0.5rem 0;
  }
  
  .insights-section .nav-link.active {
    border-bottom: 3px solid var(--accent);
  }
  
  .insights-section .nav-item {
    flex-basis: 50%;
  }
  
  .tab-content .post-card,
  .post-section .col-md-4 .post-card {
    min-height: 433px;
  }
  
  .post-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .page-link {
    cursor: pointer;
  }
  
  .post-card .card-body .alastria-button {
    margin: auto auto 0;
  }
  
  /* QuÃ© hacemos */
  
  .info {
    display: block;
    object-fit: fill;
    height: 100%;
    width: 100%;
  }
  
  .networks-section .img-container {
    display: none;
  }
  
  .infography {
    height: initial;
    width: initial;
  }
  
  div[class*='side'] .container {
    padding: 40px 0;
  }
  
  .box-container {
    padding: 20px;
    color: var(--white);
    position: relative;
    z-index: 2;
  }
  
  .networks-section {
    color: var(--white);
  }
  
  .side1 {
    background-color: var(--accent);
  }
  
  .side1 .links-container a {
    color: var(--dark-blue);
  }
  
  .side2 {
    background-color: var(--dark-blue);
  }
  
  .links-container a {
    display: block;
    font-weight: 500;
    color: var(--accent);
    margin-top: 10px;
    transition: all 0.3s;
  }
  
  .links-container a:hover {
    font-weight: 700;
  }
  
  /* Hazte Socio */
  
  .join-button {
    padding: 30px 0;
    border-radius: 30px;
    -webkit-box-shadow: 3px 9px 19px 0px rgb(255 255 255 / 19%);
    -moz-box-shadow: 3px 9px 19px 0px rgba(255, 255, 255, 0.19);
    box-shadow: 3px 9px 19px 0px rgb(175 175 175 / 19%);
    background-color: var(--white);
  }
  
  .join-button .title {
    margin-bottom: 0;
    color: var(--light-blue);
    font-size: 1.4rem;
  }
  
  .join-button i {
    margin-right: 5px;
    font-size: 1.5rem;
  }
  
  .join-button p {
    font-size: 1.4rem;
  }
  
  .our-services .card {
    padding: 30px;
  }
  
  .our-services .card-title {
    color: var(--accent);
    font-size: 1.3rem;
  }
  
  .button-container {
    position: relative;
  }
  
  /* DocumentaciÃ³n */
  
  .docs i {
    color: var(--accent);
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  
  .docs a {
    display: flex;
    align-items: center;
    color: var(--black);
    transition: all 0.3s;
  }
  
  .docs a:hover {
    color: var(--blue);
  }
  
  .docs a:hover i {
    color: var(--light-blue);
  }
  
  .docs li {
    margin-bottom: 15px;
  }
  
  /* Contacto */
  .contact a {
    display: block;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--black);
    transition: all 0.3s;
  }
  
  .contact a:hover {
    color: var(--blue);
    font-weight: 600;
  }
  .contact a:hover i {
    transform: scale(1.2);
  }
  
  .contact i {
    font-size: 3rem;
    color: var(--accent);
    margin-right: 20px;
    transition: all 0.3s;
  }
  
  .alastria-form .wpforms-field-label {
    min-width: 150px;
    color: var(--accent);
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .alastria-form .wpforms-field-medium {
    border-radius: 10px;
    border: 1px solid var(--accent);
  }
  
  .alastria-form .wpforms-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .alastria-form textarea {
    min-height: 150px;
    resize: none;
  }
  
  .alastria-form .wpforms-submit-container {
    text-align: center;
  }
  
  .alastria-form .wpforms-field-checkbox .wpforms-field-label-inline {
    margin-left: 10px;
  }
  
  .alastria-form .wpforms-field-checkbox li {
    display: flex;
    align-items: center;
  }
  
  /* Cookies */
  .cookies p {
    font-size: 1rem;
  }
  
  .cookies h2 {
    margin: 20px 0 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--light-blue);
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
  }
  
  .cookies a {
    color: var(--accent);
    transition: all 0.3s;
  }
  
  .cookies a:hover {
    font-weight: 600;
  }
  
  /* POST */
  .single-post .img-fluid {
    margin: 20px 0;
  }
  
  .single-post .post-title {
    font-size: 2.8rem;
  }
  
  .single-post .title span {
    color: var(--accent);
  }
  
  .single-post .title a {
    text-transform: lowercase;
  }
  
  .single-post p {
    font-size: 1rem;
  }
  
  .text-post-container p {
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    z-index: 2;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: none;
  }
  
  .text-post-container ul {
    display: none;
  }
  
  .text-post-container p:nth-child(1) {
    display: -webkit-box;
  }
  
  /* Quienes somos */
  .team .hobbie {
    font-size: 0.9rem;
    color: var(--dark-blue);
    line-height: 1rem;
    width: 90%;
    margin: 10px auto 0;
  }
  
  .partner-container {
    margin-bottom: 15px;
  }
  
  /* QuiÃ©nes Somos */
  .team .partner-container {
    position: relative;
    height: 360px;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .team .partner-container .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
  }
  
  .partner-info.face p {
    transition: 1s ease-in-out;
  }
  
  .show-back .partner-info.face p {
    opacity: 0;
  }
  
  .team .partner-container .partner-hobbie {
    transform: rotateY(0.5turn);
  }
  
  .team .partner-container.show-back {
    transform: rotateY(0.5turn);
  }
  
  /* Podcasts */
  
  .single-podcast .main-info a {
    font-size: 5rem;
    margin: 0 20px;
    transition: all 0.3s;
  }
  
  .single-podcast .main-info a:hover {
    color: var(--dark-blue);
  }
  
  /* Resultados */
  .results-search a {
    display: flex;
  }
  
  .results-search i {
    margin-right: 10px;
  }
  
  #goBack {
    display: none;
  }
  
  @media (min-width: 600px) {
    .lang-item-es {
      position: relative;
    }
  
    .main-title,
    .main-title.no-width {
      font-size: 4rem;
    }
  
    .home-section {
      padding: 5rem 4rem;
    }
  
    .quote {
      padding: 3rem 4rem;
    }
  
    .partners {
      padding: 3rem 4rem;
    }
  
    .quotation-container {
      max-width: 60%;
    }
  
    .use-cases p,
    .partners p,
    .join-us p {
      max-width: 60%;
      margin: auto;
    }
  
    .page-title {
      padding: 2.8rem 4rem 4rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .page-title.small-section {
      padding: 4rem;
    }
  
    .page-title .main-title {
      font-size: 3.5rem;
      max-width: 450px;
    }
  
    .page-title .main-title.no-width {
      max-width: initial;
    }
  
    .main-title.wide {
      max-width: 740px;
    }
  
    .home {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .home .main-title {
      max-width: 400px;
    }
  
    .page-section {
      padding: 4rem;
    }
  
    .insights-section {
      padding: 2.5rem 4rem 4rem;
    }
  
    .subtitle {
      font-size: 3rem;
    }
  
    .subtitle.small {
      font-size: 2rem;
    }
  
    .alastria-accordion {
      margin-top: 0;
    }
  
    .org > div {
      margin-bottom: 0;
    }
  
    .management {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        'director director director'
        'area-1 area-2 area-3'
        'area-4 area-5 area-6';
    }
  
    .goverment {
      padding: 2rem 4rem;
      display: flex;
      align-items: center;
    }
  
    .quotation {
      max-width: 60%;
    }
  
    .work {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .snap-container {
      height: calc(100vh - var(--header-height));
      overflow: auto;
      scroll-snap-type: y mandatory;
    }
  
    .snap-section {
      scroll-snap-align: start;
    }
  
    .horizontal-card,
    .one-horizontal-card {
      min-height: calc(50vh - (var(--header-height) / 2));
    }
  
    .one-horizontal-card {
      display: flex;
      align-items: center;
    }
  
    .areas .card-title {
      min-height: 41px;
    }
  
    .areas .card-text {
      min-height: 201px;
      display: flex;
      align-items: center;
    }
  
    .use-cases-section .card-body {
      min-height: 271px;
    }
  
    .contact .subtitle {
      font-size: 2.5rem;
    }
  
    .alastria-form .wpforms-field-medium {
      width: 60%;
    }
  
    .cookies .main-title {
      font-size: 3rem;
    }
  
    .participate .card-text {
      min-height: 99px;
    }
  
    /* .horizontal-card:hover .text-container {
      bottom: 0;
    }
  
    .horizontal-card:hover .text-container .paragraph,
    .horizontal-card:hover .text-container ul {
      opacity: 1;
    } */
  
    /* .horizontal-card .text-container {
      padding: 20px 25px;
      position: absolute;
      bottom: -83%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: all 0.3s;
      width: 100%;
    }
    .horizontal-card .text-container .paragraph,
    .horizontal-card .text-container ul {
      opacity: 0;
      transition: all 0.3s;
    } */
  
    .participate {
      height: 300px;
      padding: 0 20px;
    }
  
    .about-us {
      padding: 0 30px;
      height: 610px;
    }
  
    .about-us .card-body {
      padding: 20px;
    }
  
    .about-us .card {
      min-height: 360px;
      min-width: 100%;
    }
  
    .about-us p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    #alastria-1 .text-container:before {
      content: '\e533';
      right: 0;
      color: var(--blue);
      opacity: 0.75;
    }
  
    #alastria-2 .text-container:before {
      color: var(--light-blue);
      content: '\f201';
      left: 0;
    }
  
    #alastria-3 .text-container:before {
      content: '\f559';
      right: 0;
      color: var(--white);
      opacity: 0.6;
    }
  
    #alastria-4 .text-container:before {
      content: '\f542';
      left: 0;
      color: var(--accent);
    }
  
    .one-horizontal-card .paragraph {
      max-width: 75%;
    }
  
    .one-horizontal-card .text-end .paragraph {
      margin-left: auto;
    }
  
    .one-horizontal-card .text-container:before {
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      position: absolute;
      font-size: 9rem;
      color: rgba(255, 255, 255, 0.6);
    }
  
    /* Que hacemos */
    .box-container {
      color: var(--white);
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 50px;
      transition: all 0.3s;
      cursor: pointer;
    }
  
    p {
      line-height: 2rem;
    }
  
    .alastria-form .wpforms-field {
      flex-direction: row;
    }
  
    .alastria-form .wpforms-field-label {
      margin-bottom: 0;
    }
  
    div[id*='partners'] .text-container:before {
      right: 0;
      top: 15%;
    }
  
    #partners-1 .text-container:before {
      content: '\f5ba';
    }
  
    #partners-2 .text-container:before {
      content: '\f2db';
    }
  
    #partners-3 .text-container:before {
      content: '\f0b1';
      top: 0;
    }
  
    #partners-4 .text-container:before {
      content: '\f51e';
      top: -10%;
    }
  
    .one-horizontal-card .alastria-list {
      max-width: 70%;
    }
  
    /* QuiÃ©nes Somos */
    .team .partner-container {
      width: calc(1200px / 3);
      height: 410px;
    }
  
    div[class*='side'] .container {
      padding: 50px 0;
    }
  
    /* Hazte Socio */
    .partners-section .card {
      min-height: 202px;
      display: flex;
      justify-content: center;
    }
  
    .insights-carousel {
      padding: 0 25px;
    }
  
    .insights-section .nav-tabs {
      justify-content: center;
    }
  
    .insights-section .nav-link {
      padding: 0.5rem 1rem;
    }
  
    .insights-section .nav-item {
      flex-basis: auto;
    }
  
    /* Footer */
    .footer li a {
      padding: 4px 0 4px 10px;
    }
  
    .insights-carousel {
      height: 520px;
    }
  
    /* Header */
    .search-input {
      width: 60%;
    }
  }
  
  @media (min-width: 992px) {
    .menu {
      flex-direction: row;
      z-index: 3;
    }
  
    .team .partner-container:hover {
      transform: rotateY(0.5turn);
    }
  
    .vertical-card,
    .alastriaVideo,
    .img-bck,
    .alastria-work,
    .one-horizontal-card.full-height {
      min-height: calc(100vh - var(--header-height));
    }
  
    .title-container {
      width: 100%;
      top: 0;
      transform: translateY(-100%);
    }
  
    .what-we-do a:hover .title-container {
      transform: translateY(0);
    }
  
    .what-we-do {
      padding-top: 0;
    }
  
    .what-we-do .main-title {
      color: var(--white);
    }
  
    .absolute {
      position: absolute;
      width: 100%;
      top: 50px;
    }
  
    .page-title .paragraph,
    .home p {
      max-width: 60%;
    }
  
    .about-us .card-body {
      padding: 30px;
    }
  
    .about-us {
      height: 420px;
    }
  
    .directive {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        'director director director director'
        'area-1 area-2 area-3 area-4'
        'area-5 area-6 area-7 area-8'
        'area-9 area-10 area-11 area-12'
        'area-13 area-14 area-15 area-16';
    }
  
    .participate .card-text {
      min-height: 201px;
    }
  
    .participate {
      height: 395px;
      padding: 0 30px;
    }
  
    /* Hazte Socio */
    .our-services .card {
      min-height: 532px;
    }
  
    #goBack {
      display: block;
    }
  
    .insights-carousel {
      height: 490px;
    }
  
    /* Header */
    .navbar-nav,
    .social-network,
    .search-button {
      position: relative;
      z-index: 2;
    }
  
    .alastria-header .social-network a {
      font-size: 1.2rem;
    }
  
    .alastria-header .social-network {
      margin: 0 0 0 10px;
    }
  
    .search-input {
      position: absolute;
      width: 400px;
      transform: translateY(0);
      background-color: var(--dark-blue);
      padding: 10px 20px;
      transition: all 0.5s;
      opacity: 0;
      right: 0;
    }
  
    .search-input.active {
      transform: translateY(100%);
      opacity: 1;
      z-index: 200;
    }
  
    .alastria-header .social-network:before,
    .alastria-header .lang-item-es:before {
      content: '';
      position: absolute;
      background-color: var(--accent);
      font-size: 1.2rem;
      height: 25px;
      width: 2px;
      top: -2px;
      left: -11px;
    }
  
    .alastria-header .lang-item-es:before {
      top: 5px;
      left: -2px;
      background-color: rgb(90 191 172 / 56%);
    }
    .search-button {
      background: none;
      color: var(--accent);
      font-size: 1.3rem;
      display: block;
    }
  }